@model Notes

@{
    ViewData["Title"] = "Delete";
}

<div class="d-flex justify-content-center">
    <div class="py-1">
        <img style="vertical-align:middle" src="~/post-it.png">
        <h1>Note-Tella</h1>
        <small class="form-text text-muted"> // A simple note-taking web app that allows for note creation, editing, and deletion.</small>
    </div>
</div>
<form method="post">
    @Html.AntiForgeryToken()
    <div class="row py-3">
        <div class="d-flex justify-content-center">
            <div class="col-lg-6 py-3">
                <div class="card border-secondary card-form">
                    <div class="card-body">
                        <div class="form-group mb-2">
                           <span>@Model.Title</span>
                        </div>
                        <div class="py-1">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>